@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Roboto);

.banner {
    background-color: brown;
    color: white;
    font-family: "Roboto";
    padding-top: 5%;
}



#gg {
    font-size: 6vw;
    font-weight: 700;
}

#ent {
    background-color: white;
    padding: 3%;
    color: orange;
    width: fit-content;
    border-radius: 5%;
    font-size: 3vw;
    font-weight: 700;
}

#btn1 {
    color: #fff;
    font-weight: 700;
}

#chamada {
    margin-top: 5%;
}

#prod {
    margin-top: 10%;
}

#img-logo {
    width: 261px;
    height: auto;
}

#logoFooter {
    width: 208px;
    height: auto;
}

#img-bnc {
    width: 80%;
    height: auto;
}

#img-tst {
    width: 30%;
    height: auto;
}

.pd {
    width: 160px;
    height: auto;
}

.p-footer {
    color: brown;
}

.tpd {
    color:black;
}

.hr {
    background-color: brown;
    background-size: 5px;
}

#tel-footer {
    background-color: brown;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

.testemunhos {
    margin-top: 10%;
    margin-bottom: 10%;
}

#test-ttl {
    color: #9e9e9e;
}

#test-frs {
    color: #757575;
}

.footer {
    margin-top: 5%;
}